<footer class="page-footer footer-bg text-center text-md-left pt-4 mt-4">
  <div class="text-center py-4">
    <h5 class="h2-responsive">Follow me!</h5>
    <div class="pl-0 mb-0">
      <a type="button" class="btn btn-accent btn-circle z-depth-5 wow bounceInLeft" [href]="_is.info.github" target="_blank">
        <i class="fa fa-github fa-lg"></i>
      </a>
      <a type="button" class="btn btn-accent btn-circle z-depth-5 wow bounceInDown" [href]="_is.info.twitter" target="_blank">
        <i class="fa fa-twitter fa-lg"></i>
      </a>
      <a type="button" class="btn btn-accent btn-circle z-depth-5 wow bounceInRight" [href]="_is.info.linkedin" target="_blank">
        <i class="fa fa-linkedin fa-lg"></i>
      </a>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
      <div class="container-fluid">
          © 2018 Copyright:
          <a href="http://lizzymendivil.com"> LizzyMendivil.com </a>
      </div>
  </div>
</footer>