<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark header-bg scrolling-navbar ie-nav" [containerInside]="true">
  <logo>
      <a class="logo navbar-brand font-web-title" routerLink="/">
        <strong>
            <span class="brand-color font-weight-bold"><i class="fa fa-chevron-left" aria-hidden="true"></i>Li.</span>Code/<i class="fa fa-chevron-right" aria-hidden="true"></i>
        </strong>
    </a>
  </logo>
  <links class="d-flex justify-content-center text-uppercase">
      <ul class="navbar-nav">
          <li class="nav-item waves-light" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" mdbWavesEffect>
              <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
              <a class="nav-link" routerLink="/resume">Resume</a>
          </li>
          <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
            <a class="nav-link" routerLink="/resources">Resources</a>
         </li>
          <li class="nav-item waves-light" routerLinkActive="active" mdbWavesEffect>
              <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" target="_blank" href="https://lizzymendivil.blogspot.com/">Blog</a>
         </li>
      </ul>
  </links>
</mdb-navbar>
<div class="jumbotron mt-5 header-bg text-light-color">
  <div class="container text-center">
    <h1 class="display-3 font-web-title size-web-title wow pulse">{{ _is.info.title }}</h1>
    <p class="h4 font-web-title wow pulse">{{ _is.info.subtitle }}</p>
    <p><a class="btn btn-accent btn-lg" routerLink="/contact" role="button">Contact Me</a></p>
  </div>
</div>