<!--Section: Cards-->
<section class="container">

  <!--Grid row-->
  <div class="row mb-4 wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 mb-4 wow slideInLeft">

      <h3 class="display-2">Oops!</h3>
      <p>The page you are looking for can't be found.</p>
      <p>Here are some links instead:</p>
      <ul class="list-unstyled">
        <li>
          <a routerLink="/resume" class ="link-not-found">Resume</a>
        </li>
        <li>
          <a routerLink="/contact" class ="link-not-found">Contact</a>
        </li>
      </ul>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4 wow slideInRight">

        <img src="../../../assets/images/not-found-pic.jpeg" class="img-fluid z-depth-1 hoverable" alt="Not Found Error 404">

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->



</section>
<!--Section: Cards-->