<div class="container animated fadeIn">
    <div class="card my-5">
        <h3 class="card-header font-weight-bold text-light-color footer-bg">
            <i class="fa fa-suitcase pr-2 text-accent-color"></i>Work Experience</h3>
        <div class="card-body">
            <div class="ml-3 mt-2">
                <div class="wow fadeIn" data-wow-delay="0.2s">
                    <h5 class="title-color">
                        <b>Full Stack Developer / Jalasoft S.R.L.</b>
                    </h5>
                    <h6 class="font-weight-normal text-accent-color">
                        <i class="fa fa-calendar pr-2 text-accent-color"></i>Sep 2017 -
                        <span class="badge badge-pill accent">Current</span>
                    </h6>
                    <h6 class="font-weight-normal">
                        <i class="fa fa-map-marker fa-lg pr-2 text-accent-color"></i>Cochabamba, Bolivia</h6>
                    <p>AngularJS - MongoDB - NodeJS - Express</p>
                </div>
                <div class="wow fadeIn" data-wow-delay="0.4s">
                    <hr class="my-2">
                    <h5 class="title-color">
                        <b>Application Support / Tecnología Corporativa S.A.</b>
                    </h5>
                    <h6 class="font-weight-normal text-accent-color">
                        <i class="fa fa-calendar pr-2 text-accent-color"></i>Mar 2016 - Jul 2017</h6>
                    <h6 class="">
                        <i class="fa fa-map-marker fa-lg pr-2 text-accent-color"></i>Santa Cruz, Bolivia</h6>
                    <p>Customer service, support and maintenance of the eProperty1 application for property insurance
                    <br>VB.NET - Microsfot SQL Server - Web Services - Crystal Reports</p>
                </div>
                <div class="wow fadeIn" data-wow-delay="0.6s">
                    <hr class="my-2">
                    <h5 class="title-color">
                        <b>Application Manager Analyst / Brinks Bolivia S.A.</b>
                    </h5>
                    <h6 class="font-weight-normal text-accent-color">
                        <i class="fa fa-calendar pr-2 text-accent-color"></i>Oct 2011 - Oct 2015</h6>
                    <h6 class="">
                        <i class="fa fa-map-marker fa-lg pr-2 text-accent-color"></i>Santa Cruz, Bolivia</h6>
                    <p>Requirements analysis, development and implementation.
                    <br>VB.NET 2008 - Gizmox Visual WebGui - Microsoft SQL Server 2008</p>
                </div>
                <div class="wow fadeIn" data-wow-delay="0.8s">
                    <hr class="my-2">
                    <h5 class="title-color">
                        <b>.NET Developer / Uponsoft S.A.</b>
                    </h5>
                    <h6 class="font-weight-normal text-accent-color">
                        <i class="fa fa-calendar pr-2 text-accent-color"></i>Jun 2010 - Aug 2011</h6>
                    <h6 class="">
                        <i class="fa fa-map-marker fa-lg pr-2 text-accent-color"></i>Santa Cruz, Bolivia</h6>
                    <p>Web application development - ERP system
                    <br>ASP.NET - VB.NET - Reporting Services - Microsoft SQL Server - HTML/CSS/JS</p>
                </div>
                <div class="wow fadeIn" data-wow-delay="1s">
                    <hr class="my-2">
                    <h5 class="title-color">
                        <b>.NET Developer / Cognos Soluciones y Servicios S.R.L.</b>
                    </h5>
                    <h6 class="font-weight-normal text-accent-color">
                        <i class="fa fa-calendar pr-2 text-accent-color"></i>Sep 2007 - Jan 2009</h6>
                    <h6 class="">
                        <i class="fa fa-map-marker fa-lg pr-2 text-accent-color"></i>Santa Cruz, Bolivia</h6>
                    <p>Development and implementation of windows and web applications.
                    <br>ASP.NET - VB.NET - Microsoft SQL Server</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <h3 class="card-header font-weight-bold text-light-color footer-bg">
            <i class="fa fa-graduation-cap pr-2 text-accent-color"></i>Education
        </h3>
        <div class="card-body wow fadeIn" data-wow-delay="0.6s">
            <div class="m-2">
                <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a class="" type="button" (click)="box1.toggle()" mdbWavesEffect>
                                <h5 class="mb-0">
                                    Current Activity
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseOne" [mdbCollapse]="isCollapsed" #box1="bs-collapse" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Diploma in competency-based Higher Education for Science and Technology</b>
                                    <br>
                                    <b>University:</b> Universidad Mayor de San Simón
                                    <br>
                                    <b>City:</b> Cochabamba, Bolivia
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="" type="button" (click)="box2.toggle()" mdbWavesEffect>
                                <h5 class="mb-0">
                                    University
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseTwo" [mdbCollapse]="isCollapsed" #box2="bs-collapse" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Certification:</b> Degree in Systems Engineering
                                    <br>
                                    <b>Graduation Year:</b> 2009
                                    <br>
                                    <b>University:</b> Universidad NUR
                                    <br>
                                    <b>City:</b> Santa Cruz de la Sierra, Bolivia

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a class="" type="button" (click)="box3.toggle()" mdbWavesEffect>
                                <h5 class="mb-0">
                                    High School
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseThree" [mdbCollapse]="isCollapsed" #box3="bs-collapse" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Certification:</b> Bachelor of Arts in Humanities
                                    <br>
                                    <b>Graduation Year:</b> 2002
                                    <br>
                                    <b>School:</b> Colegio Jesús Maestro
                                    <br>
                                    <b>City:</b> Santa Cruz de la Sierra, Bolivia

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a class="" type="button" (click)="box4.toggle()" mdbWavesEffect>
                                <h5 class="mb-0">
                                    Complementary
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseThree" [mdbCollapse]="isCollapsed" #box4="bs-collapse" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p class="card-text">ASP NET MVC 5 C# (Course)
                                    <br> Udemy, Virtual Education Platform, July 2017
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Desarrollo de Apps Móviles (Course)
                                    <br> Google Actívate, Virtual Education Platform, Jun 2017
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Master en Bootstrap 4 (Course)
                                    <br> Udemy, Virtual Education Platform, Apr 2017
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Scrum Developer (Course and Certification)
                                    <br> Scrum Alliance, Jul 2016
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Database Administration Fundamentals.
                                    <br> Software Development Fundamentals.
                                    <br> Web Development Fundamentals.
                                    <br> Windows Development Fundamentals.(Certification)
                                    <br> NUR University, 2012
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Internal training in SQL Server 2008 and Reporting Services
                                    <br> Uponsoft, 2011
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">5 Star Platinum Developer (Certification)
                                    <br> Cognos, 2008
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Visual Basic. Net Basic and Advanced Net (Course)
                                    <br> U.A.G.R.M., 2006
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">IT Security Principles and Implementing Security Updates (Seminar)
                                    <br> NUR University, 2004
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Structured Cabling (Course)
                                    <br> NUR University, 2003
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Hardware Technician A+ (Course)
                                    <br> NUR University, 2003
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <h3 class="card-header font-weight-bold text-light-color footer-bg">
            <i class="fa fa-heart pr-2 text-accent-color"></i>Hobbies and Interests</h3>
        <div class="card-body">
            <div class="ml-3 mt-2">
                <section>
                    <div class="row features-small mt-2">
                        <div class="col-xl-3 col-lg-6 col-md-3">
                            <div class="row wow fadeIn" data-wow-delay="0.1s">
                                <div class="col-2">
                                    <i class="fa fa-bicycle fa-2x mb-1 text-dark-color" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2 pl-3">
                                    <h5 class="grey-text mb-1">Cycling</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-3">
                            <div class="row wow fadeIn" data-wow-delay="0.2s">
                                <div class="col-2">
                                    <i class="fa fa-laptop fa-2x mb-1 text-dark-color" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="grey-text mb-1">Online classes</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-3">
                            <div class="row wow fadeIn" data-wow-delay="0.3s">
                                <div class="col-2">
                                    <i class="fa fa-code fa-2x mb-1 text-dark-color" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="grey-text mb-1">Coding</h5>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-3">
                            <div class="row wow fadeIn" data-wow-delay="0.4s">
                                <div class="col-2">
                                    <i class="fa fa-pencil fa-2x mb-1 text-dark-color" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="grey-text mb-1">Blogging</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row features-small mt-2">
                        <div class="col-xl-3 col-lg-6 col-md-3">
                            <div class="row wow fadeIn" data-wow-delay="0.5s">
                                <div class="col-2">
                                    <i class="fa fa-paw fa-2x mb-1 text-dark-color" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="grey-text mb-1">Animals and pets</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-3">
                            <div class="row wow fadeIn" data-wow-delay="0.6s">
                                <div class="col-2">
                                    <i class="fa fa-commenting-o fa-2x mb-1 text-dark-color" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="grey-text mb-1">Acting</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 mb-4">
            <div class="card">
                <h3 class="card-header font-weight-bold text-light-color footer-bg">
                    <i class="fa fa-thumbs-up pr-2 text-accent-color"></i>Skills</h3>
                <div class="card-body">
                    <p class="h4 text-center">
                        <strong>
                            <span class="m-2 badge hoverable accent accent-4 wow fadeInDown" data-wow-delay="0.2s">Microsoft SQL Server</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable footer-bg wow zoomIn" data-wow-delay="0.2s">Reporting Services</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable header-bg wow fadeInDown" data-wow-delay="0.4s">ASP.NET MVC</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable main-color wow zoomIn" data-wow-delay="0.6s">ASP.NET WEB FORMS</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable accent wow fadeInDown" data-wow-delay="0.8s">Entity Framework</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable footer-bg wow zoomIn" data-wow-delay="0.10s">Crystal Reports</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable header-bg wow fadeInDown" data-wow-delay="0.2s">Bootstrap4</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable main-color wow zoomIn" data-wow-delay="0.4s">HTML5</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable accent wow fadeInDown" data-wow-delay="0.6s">CSS3</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable footer-bg darken-4 wow zoomIn" data-wow-delay="0.8s">SCRUM</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable header-bg wow fadeInDown" data-wow-delay="0.10s">VB.NET</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable main-color wow zoomIn" data-wow-delay="0.2s">C#</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable accent wow fadeInDown" data-wow-delay="0.4s">Java</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable footer-bg wow zoomIn" data-wow-delay="0.6s">JQuery</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable header-bg wow fadeInDown" data-wow-delay="0.8s">Responsive Web Design</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable main-color wow zoomIn" data-wow-delay="0.4s">Angular</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable accent wow fadeInDown" data-wow-delay="0.6s">Node JS</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable footer-bg wow zoomIn" data-wow-delay="0.8s">React JS</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable header-bg wow fadeInDown" data-wow-delay="0.10s">Firebase</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable main-color wow zoomIn" data-wow-delay="0.2s">RESTful API</span>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header font-weight-bold text-light-color footer-bg">
                    <i class="fa fa-globe pr-2 text-accent-color"></i>Languages
                </h3>
                <div class="card-body">
                    <p class="card-text">Spanish</p>
                    <div class="progress" style="height: 20px">
                        <div class="progress-bar accent wow fadeIn" data-wow-delay="0.6s" role="progressbar" style="width: 100%; height: 20px" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100">100%</div>
                    </div>
                    <p class="card-text mt-2">English</p>
                    <div class="progress" style="height: 20px">
                        <div class="progress-bar header-bg wow fadeIn" data-wow-delay="0.6s" role="progressbar" style="width: 70%; height: 20px" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100">70%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>