<div class="container">
    <div class="card">
        <h3 class="card-header font-weight-bold text-light-color footer-bg">
            <i class="fa fa-suitcase pr-2 text-accent-color"></i>Work Experience</h3>
        <div class="card-body">
            <div class="ml-3 mt-2">
                <h5 class="title-color">
                    <b>Front End Developer / Jalasoft S.R.L.</b>
                </h5>
                <h6 class="font-weight-normal">
                    <i class="fa fa-calendar pr-2 text-accent-color"></i>Sep 2017 -
                    <span class="badge badge-pill accent">Current</span>
                </h6>
                <h6 class="font-weight-normal">
                    <i class="fa fa-map-marker fa-lg pr-2 text-accent-color"></i>Cochabamba, Bolivia</h6>
                <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt
                    hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                <hr class="my-2">
                <h5 class="title-color">
                    <b>Application Support / Tecnología Corporativa S.A.</b>
                </h5>
                <h6 class="w3-text-teal">
                    <i class="fa fa-calendar pr-2 text-accent-color"></i>Mar 2016 - July 2017</h6>
                <h6 class="w3-text-teal">
                    <i class="fa fa-map-marker fa-lg pr-2 text-accent-color"></i>Santa Cruz, Bolivia</h6>
                <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt
                    hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                <hr class="my-2">
                <h5 class="title-color">
                    <b>Application Manager Analyst / Brinks Bolivia S.A.</b>
                </h5>
                <h6 class="">
                    <i class="fa fa-calendar pr-2 text-accent-color"></i>Oct 2011 - Oct 2015</h6>
                <h6 class="w3-text-teal">
                    <i class="fa fa-map-marker fa-lg pr-2 text-accent-color"></i>Santa Cruz, Bolivia</h6>
                <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt
                    hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                <hr class="my-2">
                <h5 class="title-color">
                    <b>.NET Developer / Uponsoft S.A.</b>
                </h5>
                <h6 class="w3-text-teal">
                    <i class="fa fa-calendar pr-2 text-accent-color"></i>Jun 2010 - Aug 2011</h6>
                <h6 class="w3-text-teal">
                    <i class="fa fa-map-marker fa-lg pr-2 text-accent-color"></i>Santa Cruz, Bolivia</h6>
                <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt
                    hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                <hr class="my-2">
                <h5 class="title-color">
                    <b>.NET Developer / Cognos Soluciones y Servicios S.R.L.</b>
                </h5>
                <h6 class="w3-text-teal">
                    <i class="fa fa-calendar pr-2 text-accent-color"></i>Sep 2007 - Jan 2019</h6>
                <h6 class="w3-text-teal">
                    <i class="fa fa-map-marker fa-lg pr-2 text-accent-color"></i>Santa Cruz, Bolivia</h6>
                <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt
                    hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <h3 class="card-header font-weight-bold text-light-color footer-bg">
            <i class="fa fa-graduation-cap pr-2 text-accent-color"></i>Education
        </h3>
        <div class="card-body">

            <div class="ml-3 mt-2">
                <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a class="" type="button" (click)="box1.toggle()" mdbWavesEffect>
                                <h5 class="mb-0">
                                    Current Activity
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseOne" [mdbCollapse]="isCollapsed" #box1="bs-collapse" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Aprendiendo Android a través de la plataforma virtual Udemy.</b>
                                    <br>
                                    <b>Curso:</b> Programación de Android desde Cero
                                    <br>
                                    <b>Descripción:</b> Aprender a programar aplicaciones y juegos para Android de forma profesional
                                    y desde cero.
                                    <br>
                                    <b>Clases:</b> 268 /
                                    <b>Vídeo:</b> 39,5 horas

                                </p>
                                <p class="card-text">
                                    <b>Estudiando Tecnologías Web a través de la plataforma virtual NextU.</b>
                                    <br>
                                    <b>Certificaciones que incluye:</b>
                                    Responsive Web Design, Aplicaciones Híbridas, Big Data, Plataforma E-commerce y Contenido, Desarrollador Javascript, Desarrollo
                                    Web.

                                </p>
                                <p class="card-text">
                                    <b>Aprendiendo PHP a través de la plataforma virtual Udemy.</b>
                                    <br>
                                    <b>Curso:</b> PHP y MYSQL: El Curso Completo, Practico y Desde 0
                                    <br>
                                    <b>Descripción:</b> Curso en el que aprenderás paso por paso y desde lo más básico a programar
                                    cualquier Aplicación o Sitio Web de una forma práctica y sencilla.
                                    <br>
                                    <b>Clases:</b> 103 /
                                    <b>Vídeo:</b> 14,5 horas

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="" type="button" (click)="box2.toggle()" mdbWavesEffect>
                                <h5 class="mb-0">
                                    University Education
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseTwo" [mdbCollapse]="isCollapsed" #box2="bs-collapse" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Titulación:</b> Licenciada en Ingenería de Sistemas
                                    <br>
                                    <b>Año de Graduación:</b> 2009
                                    <br>
                                    <b>Institución:</b> Universidad NUR
                                    <br>
                                    <b>Ciudad:</b> Santa Cruz de la Sierra

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a class="" type="button" (click)="box3.toggle()" mdbWavesEffect>
                                <h5 class="mb-0">
                                    Secondary Education
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseThree" [mdbCollapse]="isCollapsed" #box3="bs-collapse" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Titulación:</b> Bachiller en Humanidades
                                    <br>
                                    <b>Año de Graduación:</b> 2002
                                    <br>
                                    <b>Institución:</b> Colegio Jesús Maestro
                                    <br>
                                    <b>Ciudad:</b> Santa Cruz de la Sierra

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a class="" type="button" (click)="box4.toggle()" mdbWavesEffect>
                                <h5 class="mb-0">
                                    Complementary Education
                                    <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseThree" [mdbCollapse]="isCollapsed" #box4="bs-collapse" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <p class="card-text">ASP NET MVC 5 C# (Curso)
                                    <br> Udemy, Plataforma de educación Virtual, Julio 2017
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Desarrollo de Apps Móviles (Curso)
                                    <br> Google Actívate, Plataforma de educación Virtual, Junio 2017
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Master en Bootstrap 4 (Curso)
                                    <br> Udemy, Plataforma de educación Virtual, Abril 2017
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Scrum Developer (Curso y Certificación)
                                    <br> Scrum Alliance, Julio 2016
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Database Administration Fundamentals.
                                    <br> Software Development Fundamentals.
                                    <br> Web Development Fundamentals.
                                    <br> Windows Development Fundamentals.(Certificación)
                                    <br> Universidad NUR, 2012
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Capacitación interna en SQL Server 2008 y Reporting Services
                                    <br> Uponsoft, 2011
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Desarrollador 5 Estrellas Platino (Certificación)
                                    <br> Cognos, 2008
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Visual Basic. Net Básico y Avanzado (Curso)
                                    <br> U.A.G.R.M., 2006
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Principios de la seguridad Informática e Implementación de actualizaciones de seguridad (Seminario)
                                    <br> Universidad NUR, 2004
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Cableado Estructurado (Curso)
                                    <br> Universidad NUR, 2003
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                                <p class="card-text">Técnico en Hardware A+ (Curso)
                                    <br> Universidad NUR, 2003
                                    <br> SANTA CRUZ, Santa Cruz de la Sierra, Bolivia

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <h3 class="card-header font-weight-bold text-light-color footer-bg">
            <i class="fa fa-heart pr-2 text-accent-color"></i>Hobbies and Interests</h3>
        <div class="card-body">
            <div class="ml-3 mt-2">
                <section>
                    <div class="row features-small mt-2 wow fadeIn">
                        <div class="col-xl-3 col-lg-6 col-md-3">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-bicycle fa-2x mb-1 text-dark-color" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2 pl-3">
                                    <h5 class="grey-text mb-1">Cycling</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-3">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-laptop fa-2x mb-1 text-dark-color" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="grey-text mb-1">Online classes</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-3">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-commenting-o fa-2x mb-1 text-dark-color" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="grey-text mb-1">Acting</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-3">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-paw fa-2x mb-1 text-dark-color" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="grey-text mb-1">Animals and pets</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row features-small mt-2 wow fadeIn">
                        <div class="col-xl-3 col-lg-6 col-md-3">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-pencil fa-2x mb-1 text-dark-color" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="grey-text mb-1">Blogging</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-3">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-code fa-2x mb-1 text-dark-color" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="grey-text mb-1">Coding</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 mb-4">
            <div class="card">
                <h3 class="card-header font-weight-bold text-light-color footer-bg">
                    <i class="fa fa-thumbs-up pr-2 text-accent-color"></i>Skills</h3>
                <div class="card-body">
                    <p class="h4 text-center">
                        <strong>
                            <span class="m-2 badge hoverable accent accent-4 wow fadeInDown" data-wow-delay="0.2s">Microsoft SQL Server</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable footer-bg wow zoomIn" data-wow-delay="0.2s">Reporting Services</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable header-bg wow zoomInDown" data-wow-delay="0.4s">ASP.NET MVC</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable main-color wow zoomInUp" data-wow-delay="0.6s">ASP.NET WEB FORMS</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable accent wow zoomInLeft" data-wow-delay="0.8s">Entity Framework</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable footer-bg wow zoomInRight" data-wow-delay="0.10s">Crystal Reports</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable header-bg wow zoomIn" data-wow-delay="0.2s">Bootstrap4</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable main-color wow zoomInDown" data-wow-delay="0.4s">HTML5</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable accent wow zoomInUp" data-wow-delay="0.6s">CSS3</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable footer-bg darken-4 wow zoomInLeft" data-wow-delay="0.8s">SCRUM</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable header-bg wow zoomInRight" data-wow-delay="0.10s">VB.NET</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable main-color wow zoomIn" data-wow-delay="0.2s">C#</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable accent wow zoomInDown" data-wow-delay="0.4s">Java</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable footer-bg wow zoomInUp" data-wow-delay="0.6s">JQuery</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable header-bg wow zoomInLeft" data-wow-delay="0.8s">Responsive Web Design</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable main-color wow zoomInDown" data-wow-delay="0.4s">Angular</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable accent wow zoomInUp" data-wow-delay="0.6s">Node JS</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable footer-bg wow zoomInLeft" data-wow-delay="0.8s">React JS</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable header-bg wow zoomInRight" data-wow-delay="0.10s">Firebase</span>
                        </strong>
                        <strong>
                            <span class="m-2 badge hoverable main-color wow zoomIn" data-wow-delay="0.2s">RESTful API</span>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header font-weight-bold text-light-color footer-bg">
                    <i class="fa fa-globe pr-2 text-accent-color"></i>Languages
                </h3>
                <div class="card-body">
                    <p class="card-text">Spanish</p>
                    <div class="progress" style="height: 20px">
                        <div class="progress-bar accent" role="progressbar" style="width: 100%; height: 20px" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100">100%</div>
                    </div>
                    <p class="card-text mt-2">English</p>
                    <div class="progress" style="height: 20px">
                        <div class="progress-bar header-bg" role="progressbar" style="width: 70%; height: 20px" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100">70%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>